
MonoServer.userprefs

MonoServer/bin/Debug/config.json

MonoServer/bin/Debug/default.html

MonoServer/bin/Debug/MongoDB.Bson.dll

MonoServer/bin/Debug/MongoDB.Driver.dll

MonoServer/bin/Debug/MonoServer.exe

MonoServer/bin/Debug/MonoServer.exe.mdb

MonoServer/bin/Debug/mustache-sharp.dll

MonoServer/bin/Debug/Newtonsoft.Json.dll

MonoServer/bin/Debug/static/css/bootstrap-theme.css

MonoServer/bin/Debug/static/css/bootstrap-theme.css.map

MonoServer/bin/Debug/static/css/bootstrap-theme.min.css

MonoServer/bin/Debug/static/css/bootstrap.css

MonoServer/bin/Debug/static/css/bootstrap.css.map

MonoServer/bin/Debug/static/css/bootstrap.min.css

MonoServer/bin/Debug/static/fav.ico

MonoServer/bin/Debug/static/fonts/glyphicons-halflings-regular.eot

MonoServer/bin/Debug/static/fonts/glyphicons-halflings-regular.svg

MonoServer/bin/Debug/static/fonts/glyphicons-halflings-regular.ttf

MonoServer/bin/Debug/static/fonts/glyphicons-halflings-regular.ttf

MonoServer/bin/Debug/static/fonts/glyphicons-halflings-regular.woff

MonoServer/bin/Debug/static/js/bootstrap.js

MonoServer/bin/Debug/static/js/bootstrap.min.js

MonoServer/bin/Debug/static/test.css

MonoServer/bin/Debug/static/test.html

MonoServer/obj/x86/Debug/.NETFramework,Version=v4.0.AssemblyAttribute.cs

MonoServer/obj/x86/Debug/MonoServer.csproj.FilesWrittenAbsolute.txt

MonoServer/obj/x86/Debug/MonoServer.exe

MonoServer/obj/x86/Debug/MonoServer.exe.mdb

packages/HotGlue.Core.0.5.58.0/HotGlue.Core.0.5.58.0.nupkg

packages/HotGlue.Core.0.5.58.0/lib/net40/HotGlue.Core.dll

packages/HotGlue.Template.Mustache.0.5.58.0/HotGlue.Template.Mustache.0.5.58.0.nupkg

*.dll

packages/mongocsharpdriver.1.10.0/lib/net35/MongoDB.Bson.XML

packages/mongocsharpdriver.1.10.0/lib/net35/MongoDB.Driver.XML

packages/mongocsharpdriver.1.10.0/License.rtf

packages/mongocsharpdriver.1.10.0/mongocsharpdriver.1.10.0.nupkg

packages/mustache-sharp.0.2.8.1/mustache-sharp.0.2.8.1.nupkg

packages/Newtonsoft.Json.6.0.8/lib/net20/Newtonsoft.Json.xml

packages/Newtonsoft.Json.6.0.8/lib/net35/Newtonsoft.Json.xml

packages/Newtonsoft.Json.6.0.8/lib/net40/Newtonsoft.Json.xml

packages/Newtonsoft.Json.6.0.8/lib/net45/Newtonsoft.Json.xml

packages/Newtonsoft.Json.6.0.8/lib/netcore45/Newtonsoft.Json.xml

packages/Newtonsoft.Json.6.0.8/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml

packages/Newtonsoft.Json.6.0.8/lib/portable-net45+wp80+win8+wpa81+aspnetcore50/Newtonsoft.Json.xml

packages/Newtonsoft.Json.6.0.8/Newtonsoft.Json.6.0.8.nupkg

packages/Newtonsoft.Json.6.0.8/tools/install.ps1
